<div class='Style'>
  <a href="/greeted" class='link'>view greeted people</a>
</div>
<div class='style'>
<h1>Greeting WebApp</h1>
<form class ="entry" action='/greetings' method='post'>

<input type='text' name='firstName' placeholder="enter name"> </input><br><br>
<input type='radio' name='language' value='English'>English </input>
<input type='radio' name='language' value='IsiXhosa'>IsiXhosa </input>
<input type='radio' name='language' value='Sotho'>Sotho </input><br><br>

<input type='submit' class='button' value='GREET'></input>
</form>

<div id="output">{{greeting}} </div>
<div class='font'>
{{messages.error}}
</div>
<div> {{greetCount}} </div>

<form  action='/reset' method='post'>
<input type='submit' class='btn' value='RESET'></input>
</form>
</div>
