body{
  text-align: center;
  background-color: azure;
}

.message{
font-size: 2em
}

.style{
  border-style: solid;
  border-width: medium;
  width: 654px;
  margin-left: 20em;
  margin-top: 160px;
}


.link{
margin-left: 1053px;
font-size: 20px
}

.btn{
  margin-left: 458px;
}

.font{
  font: red
}

.block{
  width: 654px;
  margin-left: 20em;
  margin-top: 75px;
}

.inline{
  margin-left: -1062px
}
