<h1>Greeting WebApp</h1>
<form class ="entry">

<input type='text' class='text' placeholder="enter name"> </input>
<input type='button' class='button' value='GREET'> GREET </input>
</form>

<div id="output">{{name}} </div>
